/*
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
*/
@import "custom-vars";
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-vue/src/index.scss";

:root {
    --background-color: #f7f8fa;
    --background-color-light: #fbfefb;
    --text-dark: #101010;
    --text: @text-color;
    --text-light: #7b7b85;
    --text-lighter: #ababab;
    --blue: #3460db;
    --green: #27ae60;
    --yellow: #feca57;
    --red: #c0392b;
    --white: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --background-color: #2a2d2e;
        --background-color-light: rgb(77, 77, 77);
        --text-dark: rgb(255, 255, 255);
        --text: rgb(252, 252, 252);
        --text-light: rgb(123, 123, 133);
        --text-lighter: rgb(171, 171, 171);
        --blue: rgb(52, 152, 219);
        --green: rgb(39, 174, 96);
        --yellow: rgb(254, 202, 87);
        --red: rgb(192, 57, 43);
        --white: rgb(255, 255, 255);
    }

    .card-header {
        background-color: rgba(252, 252, 252, 0.03);
        border-bottom: 1px solid rgba(252, 252, 252, 0.125);
    }

    .form-control {
        color: var(--text);
        background-color: var(--background-color-light);
        border: 1px solid var(--text-light);
    }

    .form-control:focus {
        color: var(--text);
        background-color: var(--text-light);
    }

    .form-control:disabled,
    .form-control[readonly] {
        background-color: var(--background-color);
    }

    $form-select-indicator-color: $gray-200 !default;
    $form-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-indicator-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>") !default;

    .custom-select {
        color: var(--text);
        background-image: escape-svg($form-select-indicator);
        background-color: var(--background-color-light);
        border: 1px solid #ced4da;
    }

    .table {
        color: var(--text);
    }
}

// tweaks to support dark mode
body {
    background-color: var(--background-color);
    color: var(--text);
}

.modal-content {
    background-color: var(--background-color);
    color: var(--text);
}

.close {
    background-color: var(--background-color);
    color: var(--text);
}

.card {
    background-color: var(--background-color);
    border-color: var(--text-light);
}

.bg-light {
    background-color: var(--background-color-light) !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: var(--text);
    background-color: var(--background-color);
    border-color: var(--background-color-light) var(--background-color-light) var(--background-color);
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    border-color: var(--background-color-light) var(--background-color-light) var(--background-color-light);
}

.dropdown-menu {
    color: var(--text);
    background-color: var(--background-color);
    border-color: var(--background-color-light);
}

.dropdown-item {
    color: var(--text);
    background-color: var(--background-color);

    :hover {
        background-color: var(--background-color-light);
    }
}

.required::after {
    content: " *";
}