<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <div
    id="hymn-overlay"
    class="overlay-card"
  >
    <form @submit.prevent="setHymnOverlay">
      <b-overlay
        :show="inProgress"
        rounded="sm"
      >
        <b-row class="overlay-card--params">
          <b-col
            cols="4"
            sm="3"
            class="px-1"
          >
            <b-form-group
              :label="$t('overlay.hymn-overlay.hymn.label')"
              label-class="required"
            >
              <b-form-input
                type="number"
                v-model="hymn"
                required
              />
            </b-form-group>
          </b-col>
          <b-col
            cols="8"
            sm="9"
            class="px-1"
          >
            <b-form-group :label="$t('overlay.hymn-overlay.strophe.label')">
              <b-input-group>
                <b-form-input v-model="strophe" />
                <b-input-group-append v-if="showHymnOverlayFeature">
                  <b-button
                    @click="addTemplate()"
                    variant="outline-primary"
                    size="sm"
                    :title="$t('overlay.hymn-overlay.templates.add')"
                  >
                    <b-icon icon="bookmark-plus" />
                  </b-button>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
        </b-row>
      </b-overlay>
      <b-row class="my-3">
        <b-col class="p-1">
          <b-button-group>
            <b-button type="submit">
              {{ $t("overlay.fadein-button.text") }}
            </b-button>
            <b-button @click="clearOverlay">
              {{ $t("overlay.fadeout-button.text") }}
            </b-button>
          </b-button-group>
        </b-col>
      </b-row>
      <template v-if="showHymnOverlayFeature">
        <hymn-overlay-templates
          v-for="(item, index) in hymnList"
          :key="index"
          :hymn="item.hymn"
          :strophe="item.strophe"
          :index="index"
          @removeTemplate="removeTemplate(index)"
          @selectTemplate="selectTemplate(index)"
          class="overlay-card--templates"
        />
      </template>
    </form>
  </div>
</template>

<script>
import overlayService from '@/services/overlay.service'
import { mapActions, mapGetters } from 'vuex'
import HymnOverlayTemplates from '@/components/overlays/HymnOverlayTemplates.vue'

export default {
  name: 'HymnOverlay',
  components: {
    HymnOverlayTemplates
  },
  data () {
    return {
      hymn: '',
      strophe: '',
      inProgress: false
    }
  },
  mounted () {
    this.loadHymns()
  },
  computed: {
    showHymnOverlayFeature () {
      return this.getPreference('overlayHymnTemplates', false)
    },
    ...mapGetters({
      hymnList: 'Templates/hymnList',
      getPreference: 'Preference/get'
    })
  },
  methods: {
    setHymnOverlay () {
      this.inProgress = true
      overlayService.setHymnOverlay(this.hymn, this.strophe)
      this.progressDelay()
    },
    clearOverlay () {
      this.inProgress = true
      overlayService.clearTextOverlay()
      this.progressDelay()
    },
    removeTemplate (index) {
      this.removeHymn(index)
    },
    addTemplate () {
      if (this.hymn) {
        this.addHymn({ hymn: this.hymn, strophe: this.strophe })
      }
    },
    selectTemplate (index) {
      this.hymn = this.hymnList[index].hymn
      this.strophe = this.hymnList[index].strophe
      this.setHymnOverlay()
    },
    progressDelay () {
      setTimeout(() => {
        this.inProgress = false
      }, 800)
    },
    ...mapActions('Templates', ['loadHymns', 'addHymn', 'removeHymn'])
  }

}
</script>
