<template>
  <b-card
    id="image-overlay__add-card"
    no-body
  >
    <b-card-header>
      <b-button
        v-b-modal.modal-add-image
        variant="outline-primary"
        block
      >
        <b-icon icon="file-plus-fill" />
        <b-modal
          id="modal-add-image"
          :title="$t('overlay.image-overlay.modal-add-image.title')"
          @ok="addImage"
          :ok-title="$t('overlay.image-overlay.modal-add-image.ok-title')"
          :cancel-title="
            $t('overlay.image-overlay.modal-add-image.cancel-title')
          "
        >
          <p>
            <cropper
              ref="cropper"
              class="cropper"
              :src="image.src"
              :stencil-props="{
                aspectRatio: 16/9
              }"
            />
          </p>
          <p>
            {{ $t("overlay.image-overlay.modal-add-image.text") }}
            <b-form-file
              :accept="supportedFormat"
              :browse-text="$t('overlay.image-overlay.modal-add-image.browse-text')"
              :placeholder="$t('overlay.image-overlay.modal-add-image.placeholder')"
              @change="loadImage($event)"
              v-model="newImage"
            />
          </p>
        </b-modal>
      </b-button>
    </b-card-header>
    <b-card-body>
      <b-card-text>
        <small>
          {{ $t("overlay.image-overlay.card-text") }}
        </small>
      </b-card-text>
    </b-card-body>
  </b-card>
</template>
<script>
import { Cropper } from 'vue-advanced-cropper'
import 'vue-advanced-cropper/dist/style.css'
import overlayService from '@/services/overlay.service'

// This function is used to detect the actual image type,
function getMimeType (file, fallback = null) {
  const byteArray = (new Uint8Array(file)).subarray(0, 4)
  let header = ''
  for (let i = 0; i < byteArray.length; i++) {
    header += byteArray[i].toString(16)
  }
  switch (header) {
    case '89504e47':
      return 'image/png'
    case '47494638':
      return 'image/gif'
    case 'ffd8ffe0':
    case 'ffd8ffe1':
    case 'ffd8ffe2':
    case 'ffd8ffe3':
    case 'ffd8ffe8':
      return 'image/jpeg'
    default:
      return fallback
  }
}

export default {
  name: 'ImageOverlayAdd',
  components: {
    Cropper
  },
  data () {
    return {
      newImage: null,
      image: {
        src: null,
        type: null
      }
    }
  },
  computed: {
    supportedFormat () {
      return overlayService.getSupportedImageFormat().join()
    }
  },
  methods: {
    addImage () {
      this.startProgress()
      const { canvas } = this.$refs.cropper.getResult()
      if (canvas) {
        canvas.toBlob(blob => {
          const formData = new FormData()
          formData.append('filename', this.newImage.name)
          formData.append('file', blob)
          overlayService.addNewOverlayImage(formData)
            .then(result => {
              this.newImage = null
              this.image.src = null
              this.image.type = null
              this.uploaded()
            })
        }, 'image/png')
      }
    },
    startProgress () {
      this.$emit('startProgress')
    },
    uploaded () {
      this.$emit('uploaded')
    },
    crop () {
      const { canvas } = this.$refs.cropper.getResult()
      canvas.toBlob((blob) => {
        // Do something with blob: upload to a server, download and etc.
      }, this.image.type)
    },
    reset () {
      this.image = {
        src: null,
        type: null
      }
    },
    loadImage (event) {
      // Reference to the DOM input element
      const { files } = event.target
      // Ensure that you have a file before attempting to read it
      if (files && files[0]) {
        // 1. Revoke the object URL, to allow the garbage collector to destroy the uploaded before file
        if (this.image.src) {
          URL.revokeObjectURL(this.image.src)
        }
        // 2. Create the blob link to the file to optimize performance:
        const blob = URL.createObjectURL(files[0])

        // 3. The steps below are designated to determine a file mime type to use it during the
        // getting of a cropped image from the canvas. You can replace it them by the following string,
        // but the type will be derived from the extension and it can lead to an incorrect result:
        //
        // this.image = {
        //    src: blob;
        //    type: files[0].type
        // }

        // Create a new FileReader to read this image binary data
        const reader = new FileReader()
        // Define a callback function to run, when FileReader finishes its job
        reader.onload = (e) => {
          // Note: arrow function used here, so that "this.image" refers to the image of Vue component
          this.image = {
            // Set the image source (it will look like blob:http://example.com/2c5270a5-18b5-406e-a4fb-07427f5e7b94)
            src: blob,
            // Determine the image type to preserve it during the extracting the image from canvas:
            type: getMimeType(e.target.result, files[0].type)
          }
        }
        // Start the reader job - read file as a data url (base64 format)
        reader.readAsArrayBuffer(files[0])
      }
    }
  },
  destroyed () {
    // Revoke the object URL, to allow the garbage collector to destroy the uploaded before file
    if (this.image.src) {
      URL.revokeObjectURL(this.image.src)
    }
  }
}
</script>
