<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
 -->
<template>
  <b-container id="settings">
    <h1>{{ $t("settings.title") }}</h1>
    <b-alert
      show
      variant="warning"
    >
      {{ $t("settings.warning") }}
    </b-alert>
    <p>
      {{ $t("settings.hint") }}
    </p>
    <b-row>
      <b-col md="8">
        <b-card class="mb-3">
          <volume class="mb-3" />
          <video-bitrate class="mb-3" />
          <audio-device-select class="mb-3" />
          <audio-sink-device-select />
        </b-card>
        <b-card class="mb-3">
          <overlay-preference />
        </b-card>
      </b-col>
      <b-col md="4">
        <b-card class="mb-3">
          <p>{{ $t("settings.server-hardware") }}</p>
          <p>
            <hostname />
          </p>
          <b-button-group>
            <reboot-button />
            <power-off-button />
          </b-button-group>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import Volume from '@/components/settings/Volume.vue'
import VideoBitrate from '@/components/settings/VideoBitrate.vue'
import AudioDeviceSelect from '@/components/settings/AudioDeviceSelect.vue'
import AudioSinkDeviceSelect from '@/components/settings/AudioSinkDeviceSelect.vue'
import RebootButton from '@/components/actions/RebootButton.vue'
import PowerOffButton from '@/components/actions/PowerOffButton.vue'
import Hostname from '@/components/settings/Hostname.vue'
import OverlayPreference from '@/components/settings/OverlayPreference.vue'

export default {
  name: 'Settings',
  components: {
    Volume,
    VideoBitrate,
    AudioDeviceSelect,
    AudioSinkDeviceSelect,
    RebootButton,
    PowerOffButton,
    Hostname,
    OverlayPreference
  }
}
</script>
