<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
 -->
<template>
  <div id="app">
    <header>
      <nav-bar />
    </header>
    <main class="content">
      <router-view />
    </main>
    <footer>
      <status-bar />
    </footer>
  </div>
</template>
<script>
import { mapActions } from 'vuex'
import NavBar from '@/components/NavBar.vue'
import StatusBar from '@/components/StatusBar.vue'

export default {
  components: { NavBar, StatusBar },
  metaInfo: {
    // if no subcomponents specify a metaInfo.title, this title will be used
    title: '',
    // all titles will be injected into this template
    titleTemplate: '%s | Hai-End Streaming'
  },
  mounted () {
    this.setServerStatus()
  },
  methods: {
    ...mapActions('Config', ['setServerStatus'])
  }
}
</script>
<style>
.content {
  margin-top: 80px;
  margin-bottom: 80px;
}
</style>
