<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <div class="overlay-preference">
    <b-card-title>{{ $t('overlay-preference.title') }}</b-card-title>
    <b-card-text>
      {{ $t('overlay-preference.description') }}
    </b-card-text>
    <b-card-text>
      <ul>
        <li>
          <b-form-checkbox
            v-model="overlay"
            switch
          >
            {{ $t('overlay-preference.flag.use-overlays') }}
          </b-form-checkbox>
          <ul>
            <li>
              <b-form-checkbox
                v-model="overlayHymnTemplates"
                :disabled="!overlay"
                switch
              >
                {{ $t('overlay-preference.flag.use-hymn-templates') }}
              </b-form-checkbox>
            </li>
            <b-form-checkbox
              v-model="overlayTextTemplates"
              :disabled="!overlay"
              switch
            >
              {{ $t('overlay-preference.flag.use-text-templates') }}
            </b-form-checkbox>
          </ul>
        </li>
      </ul>
    </b-card-text>
    <b-card-text>
      {{ $t('overlay-preference.hint') }}
    </b-card-text>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'OverlayPreference',
  mounted () {
  },
  computed: {
    overlay: {
      get: function () {
        const val = this.getPreference('overlay', false)
        return val
      },
      set: function (value) {
        this.setPreference({ key: 'overlay', value: value })
      }
    },
    overlayHymnTemplates: {
      get: function () {
        const val = this.getPreference('overlayHymnTemplates', false)
        return val
      },
      set: function (value) {
        this.setPreference({ key: 'overlayHymnTemplates', value: value })
      }
    },
    overlayTextTemplates: {
      get: function () {
        const val = this.getPreference('overlayTextTemplates', false)
        return val
      },
      set: function (value) {
        this.setPreference({ key: 'overlayTextTemplates', value: value })
      }
    },
    ...mapGetters({
      getPreference: 'Preference/get'
    })
  },
  methods: {
    ...mapActions({
      setPreference: 'Preference/set',
      loadPreferences: 'Preference/load'
    })
  }
}
</script>

<style scoped>
ul {
  list-style-type: none;
}
</style>
