<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <div id="bitrate-control">
    <b-row>
      <b-col>
        <label for="bitrate-volume">{{ $t('settings.video-bitrate.label') }}</label>
      </b-col>
      <b-col>
        <div class="text-right">
          {{ megaBits }} MBit/s
        </div>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-form-input
          id="bitrate-volume"
          v-model="value"
          type="range"
          min="0"
          max="15000000"
          step="1000"
          debounce="500"
        />
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <i><small>Orietentierungswerte bei YouTube: 1080p: 12 Mbit/s, 720p: 7,5 MBit/s, 480p: 4 MBit/s</small></i>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import configService from '@/services/config.service'

export default {
  name: 'Volume',
  data () {
    return {
      value: null,
      originValue: null
    }
  },
  mounted () {
    configService.get('videoBitrate')
      .then((value) => {
        this.value = value
        this.originValue = value
      })
  },
  watch: {
    value (newVal, oldVal) {
      if (this.originValue !== this.value && newVal !== oldVal) {
        configService.set('videoBitrate', newVal)
          .then((success) => {
            if (success) {
              this.$bvToast.toast(this.$t('settings.video-bitrate.toast.update-success-message', [this.megaBits]), {
                title: this.$t('settings.video-bitrate.toast.title'),
                variant: 'info',
                autoHideDelay: 3000,
                appendToast: true
              })
            } else {
              this.$bvToast.toast(this.$t('settings.video-bitrate.toast.update-failed-message'), {
                title: this.$t('settings.video-bitrate.toast.title'),
                variant: 'danger',
                autoHideDelay: 3000,
                appendToast: true
              })
            }
          })
      }
    }
  },
  computed: {
    megaBits () {
      return Math.round((this.value / 1024 / 1024) * 10) / 10
    }
  }

}
</script>
