<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <div id="volume-control">
    <b-row>
      <b-col>
        <label for="volume">{{ $t('settings.volume.label') }}</label>
      </b-col>
      <b-col>
        <div class="text-right">
          {{ value }}
        </div>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-form-input
          id="volume"
          v-model="value"
          type="range"
          min="0"
          max="10"
          step="0.001"
          debounce="500"
        />
      </b-col>
    </b-row>
  </div>
</template>

<script>
import configService from '@/services/config.service'

export default {
  name: 'Volume',
  data () {
    return {
      value: null,
      originValue: null
    }
  },
  mounted () {
    configService.get('volume')
      .then((value) => {
        this.value = value
        this.originValue = value
      })
  },
  watch: {
    value (newVal, oldVal) {
      if (this.originValue !== this.value && newVal !== oldVal) {
        configService.set('volume', newVal)
          .then((success) => {
            if (success) {
              this.$bvToast.toast(this.$t('settings.volume.toast.update-success-message', [this.value]), {
                title: this.$t('settings.volume.toast.title'),
                variant: 'info',
                autoHideDelay: 3000,
                appendToast: true
              })
            } else {
              this.$bvToast.toast(this.$t('settings.volume.toast.update-failed-message'), {
                ttitle: this.$t('settings.volume.toast.title'),
                variant: 'danger',
                autoHideDelay: 3000,
                appendToast: true
              })
            }
          })
      }
    }
  }
}
</script>
